# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
/images/.DS_Store

Thumbs.db